**/target/
client/runtime/
server/runtime/
server/mods/**.zip
.idea/
.vscode/
**/Cargo.lock
*.zip
perf.data*

local_testing/
win_ter_setup.py

assets/font_and_glyphs/generated.png
assets/font_and_glyphs/generated_x16.png
assets/font_and_glyphs/gen/