**/target/**
client/runtime/
server/runtime/
server/mods/**.zip
.idea/
.vscode/
**/Cargo.lock
*.zip
perf.data*
**/__pycache__/**


local_testing/
win_ter_setup.py
**.bat
**.sh


assets/font_and_glyphs/generated.png
assets/font_and_glyphs/generated_x16.png
assets/font_and_glyphs/gen/

# clink
**/PROFILE_DIR/**