(
    profile: "vanilla",
    version: "0.1.0",
    modstack: {
        // path:name
        "world:world": [ "42" ],
		"player:player": [],
        "worms:worms": [],
        "debug:debug": []
    }
)